{% extends 'layout/base.html' %} {% block title_block %}
  {{ context.course.name }}
{% endblock %}

{% block content %}
  <div class="container-fluid g-0">
    <div class="p-3 Materialfile-bg">
      <div class="my-5 mx-4">
        <nav aria-label="breadcrumb" dir="rtl" lang="">
          <ol class="breadcrumb" dir="rtl">
            <li class="breadcrumb-item">
              <a href="/courses" class="fw-normal text-secondary text-decoration-none">المواد</a>
            </li>
            <li class="breadcrumb-item active" id="bc-slash" aria-current="page">
              <span class="px-2 fw-normal text-secondary">ملف المادة</span>
            </li>
          </ol>
        </nav>
        <h2 class="fw-normal fs-3">ملف المادة <strong>({{ context.course.name }})</strong></h2>
      </div>

      <nav class="navbar navbar-expand-md bg-navber-search-andfillter">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarScroll">
            <div class="mt-md-0 mt-2 col-12 d-flex flex-wrap justify-content-between align-items-center">
              <form class="w-100 d-flex doctor-form-search" role="search">

                <div class="form-group d-flex justify-content-between w-100">

                  <input
                    type="text"
                    class="cd-search doctor-text-search"
                    placeholder="البحث"
                    ar
                    onkeyup="generalSearch(this, '/api/courses/search', 'searchResultBoxDirect', 'openCourseProfile', false)"
                  />
                  <ul id="searchResultBoxDirect"></ul>

                  <div class="mt-md-0 mt-2">
                    <i class="bi bi-printer-fill fs-3 cursor" onclick="printElem('print');"></i>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
      </nav>

      <div id="print">
        <div class="card bg-transparent col-12 border-0 py-3">
          <div class="row g-0 align-items-center flex-wrap col-12">
            <div class="col-12 text-sm-end text-center">
              <div class="card-body d-flex flex-wrap">
                <div class="col-lg-3 col-sm-6 col-12 mb-3">
                  <p class="card-text fw-normal fs-5">
                    <span class="color-title-name">المادة:</span><strong>{{ context.course.name }}</strong>
                  </p>
                  <p class="card-text fw-normal fs-5">
                    <span class="color-title-name">الفرقه:</span><strong>{{ context.course.year }}</strong>
                  </p>
                </div>
                <div class="col-lg-3 col-sm-6 col-12 mb-3">
                  <p class="card-text fw-normal fs-5">
                    <span class="color-title-name">الائحه:</span><strong>{{ context.course.regulation }}</strong>
                  </p>
                  <p class="card-text fw-normal fs-5">
                    <span class="color-title-name">سكشن:</span>{% if context.course.has_section %}
                      <strong>نعم</strong>
                    {% else %}
                      <strong>لا</strong>
                    {% endif %}
                  </p>
                </div>
                <div class="col-lg-3 col-sm-6 col-12 mb-3">
                  <p class="card-text fw-normal fs-5">
                    <span class="color-title-name">القسم:</span><strong>{{ context.course.department }}</strong>
                  </p>
                  <!-- <p class="card-text fw-normal fs-5">
                    <span class="color-title-name">البرنامج:</span><strong>{{ context.programs[context.course.program] }}</strong>
                  </p> -->
                </div>
                <div class="col-lg-3 col-sm-6 col-12 mb-3">
                  <p class="card-text fw-normal fs-5">
                    <span class="color-title-name"></span><strong>{{ context.translated_semesters[context.course.semester] }}</strong>
                  </p>
                  <p class="card-text fw-normal fs-5">
                    <span class="color-title-name">عدد الساعات:</span><strong>({{ context.course.credit_hrs }})</strong>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- table -->
        <table class="table doctor-table cd-table order-table" id="dataTable">
          <thead>
            <tr style="border-radius: 50%;">
              <th scope="col" class="rounded-end-thead" style="background-color: #7CCBFA; color: #000;">القائم ع التدريس</th>
              <th scope="col" style="background-color: #7CCBFA; color: #000;">المجموعة</th>
              <th scope="col" style="background-color: #7CCBFA; color: #000;">اليوم</th>
              <th scope="col" style="background-color: #7CCBFA; color: #000;">المكان</th>
              <th scope="col" style="background-color: #7CCBFA; color: #000;">المعاد</th>
            </tr>
          </thead>
          <tbody>
            {% if context.course_instructors %}
              {% for cl in context.course_lectures %}
                <tr>
                  <td>{{ cl.instructor.name }}</td>
                  <td>{{ loop.index }}</td>
                  <td>{{ context.days[cl.day_of_week] }}</td>
                  <td>{{ cl.room.name }}</td>
                  <td>{{ cl.start_time }}</td>
                </tr>
              {% endfor %}
            {% else %}
              <tr>
                <td colspan="8">
                  <h3 class="text-center">لا توجد بيانات</h3>
                </td>
              </tr>
            {% endif %}
          </tbody>
        </table>
      </div>


    </div>

    <div dir="ltr" class="py-5 mx-4"></div>
  </div>
{% endblock %}
