{% extends "layout/base.html" %} {% block title_block %}المواد{% endblock %}

{%block content %}

<section class="container-fluid g-0">
  <div class="p-5 classcourses-bg">
    <div class="mb-5 py-3">
      <!-- 3 links top -->
      <nav id="instructorsTaps">
        <div class="nav nav-tabs border-0" id="nav-tab" role="tablist">
          <button
            id="allCourses"
            class="nav-link active"
            data-bs-toggle="tab"
            type="button"
            role="tab"
          >
            جميع المواد
          </button>

          {% for b in context.semesters %}
          <button
            id="{{ b.id }}"
            class="nav-link courses"
            data-bs-toggle="tab"
            type="button"
            role="tab"
          >
            {% if b != "الصيفي" %}الترم {{ b }}{% endif %}
          </button>
          {% endfor %}
        </div>
      </nav>
      <!--end 3 links-->
    </div>

    <!-- search and 2 button -->
    <nav class="navbar navbar-doctor-search">
      <form class="w-100 d-flex doctor-form-search" role="search">
        <div class="form-group d-flex justify-content-between w-100">
          <input
            type="text"
            class="cd-search table-filter doctor-text-search"
            data-table="order-table"
            placeholder="البحث"
            ar
          />
          <div class="justify-content-end">
            <a class="btn btn-primary px-4" href="/division/courses">مواد الفرق</a>
            <a class="btn btn-primary px-4" href="/course/new">
              <i class="bi bi-plus" style="margin-left: 3px; left: 0"> </i>
              اضافة مادة جديدة</a>
          </div>
          <div class="justify-content-end">
          </div>
        </div>
      </form>
    </nav>

    <!--table-->
    <table class="table doctor-table cd-table order-table" id="dataTable">
      <thead>
        <tr>
          <th>
            <input type="text" class="search-input" placeholder="المادة" />
          </th>
          <th>
            <input type="text" class="search-input" placeholder="الائحة" />
          </th>
          <th>
            <input type="text" class="search-input" placeholder="القسم" />
          </th>
          <th>
            <input type="text" class="search-input" placeholder="البرنامج" />
          </th>
          <th>
            <input id="tabsFilter" type="text" class="search-input" placeholder="الترم" />
          </th>
          <th>
            <input type="text" class="search-input" placeholder="ترم معاكس" />
          </th>
          <th>
            <input type="text" class="search-input" placeholder="الترم الصيفي" />
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% if context.courses %} {% for course in context.courses %}
        <tr>
          <td>{{ course.name }}</td>
          <td>{{ course.regulation }}</td>
          <td>{{ course.department }}</td>
          <td>{{ context.programs[course.program] }}</td>
          <td>{{ context.translated_semesters[course.semester] }}</td>
          <td>
            <input
              type="checkbox"
              name="reverse_semester"
              {% if course.has_reverse %}checked{% endif %}
              {% if course.semester == "Summer" %}disabled{% endif %}
              onClick="updateCheckbox(this, {{ course.id }});"
              route="/course/update/reverse/"
              value=""
              autocomplete="off"
            />
          </td>
          <td>
            <input
              type="checkbox"
              name="has_semester"
              {% if course.has_summer %}checked{% endif %}
              {% if course.semester == "Summer" %}disabled{% endif %}
              onClick="updateCheckbox(this, {{ course.id }});"
              route="/course/update/summer/"
              value=""z
              autocomplete="off"
            />
          </td>
          <td>
            <div class="d-flex">
              <div
                data-bs-toggle="modal"
                data-bs-target="#editModal"
                class="mx-3 cursor"
                onClick="
                  editThisByModal(
                    {{ {
                        'id': course.id,
                        'name': course.name,
                        'regulation_id': course.regulation_id,
                        'department_id': course.department_id,
                        'code': course.code,
                        'credit_hrs': course.credit_hrs,
                        'has_section': course.has_section
                    } }}
                  )
                "
              >
                <svg
                  width="18"
                  height="20"
                  viewBox="0 0 18 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M10.12 2.39027L2.82223 10.1147C2.54667 10.408 2.28 10.9858 2.22667 11.3858L1.89778 14.2658C1.78223 15.3058 2.52889 16.0169 3.56 15.8392L6.42223 15.3503C6.82223 15.2792 7.38223 14.9858 7.65778 14.6836L14.9556 6.95916C16.2178 5.62582 16.7867 4.10583 14.8222 2.24805C12.8667 0.408048 11.3822 1.05694 10.12 2.39027Z"
                    stroke="#4372EA"
                    stroke-width="1.5"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M8.90222 3.67914C9.08857 4.87101 9.66543 5.96726 10.5422 6.7958C11.419 7.62435 12.5462 8.13828 13.7467 8.25692M1 18.7458H17"
                    stroke="#4372EA"
                    stroke-width="1.5"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
              <i
                class="bi bi-trash text-danger me-2 cursor"
                style="font-size: 24px"
                data-bs-toggle="modal"
                data-bs-target="#staticBackdrop"
                onClick="window.location.href='/course/delete/{{ course.id }}'"
              ></i>
            </div>
          </td>
        </tr>
        {% endfor %} {% else %}
        <tr>
          <td colspan="8">
            <h3 class="text-center">لا توجد بيانات</h3>
          </td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>

  <!-- Modal      تعديل المواد--->
  <div
    class="modal fade"
    id="editModal"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-dialog modal-lg">
      <div class="modal-content classcourses-bg px-4 py-2">
        <div class="modal-header border-0 d-inline">
          <small class="text-classcourses fs-6"> تعديل</small><br />
          <p class="fw-normal fs-3 mt-3">المواد</p>
        </div>
        <div class="modal-body">
          <form
            class=""
            action="{{url_for('course.update_course_by_id')}}"
            method="post"
          >
            <input hidden name="id" />
            <div class="row">
              <div class="col-12 col-md-6 mb-md-0 mb-3">
                <input
                  type="text"
                  value=""
                  class="form-control form-control-lg col-12"
                  name="code"
                  placeholder="كود المادة"
                  readonly
                />
              </div>
              <div class="col-12 col-md-6 mb-md-0 mb-3">
                <input
                  type="text"
                  value=""
                  class="form-control form-control-lg col-12"
                  name="name"
                  placeholder="إسم المادة"
                />
              </div>
            </div>

            <div class="row my-5">
              <div class="col-12 col-md-6 mb-md-0 mb-3">
                <select
                  class="form-control form-control-lg col-12"
                  style="
                    font-family: bootstrap-icons;
                    border: 1px solid #ced4da;
                    color: #6c757d;
                    border-radius: 0.5rem;
                    min-height: 100%;
                  "
                  aria-label=".form-select-lg example"
                  name="regulation_id"
                >
                  <option selected disabled>الائحة</option>
                  {% for regulation in context.regulations %}
                  <option value="{{ regulation.id }}">
                    {{ regulation.name }}
                  </option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-12 col-md-6 mb-md-0 mb-3">
                <select
                  class="form-control form-control-lg col-12"
                  style="
                    font-family: bootstrap-icons;
                    border: 1px solid #ced4da;
                    color: #6c757d;
                    border-radius: 0.5rem;
                    min-height: 100%;
                  "
                  aria-label=".form-select-lg example"
                  name="department_id"
                >
                  <option selected disabled>القسم</option>
                  {% for department in context.departments %}
                  <option value="{{ department.id }}">
                    {{ department.name }}
                  </option>
                  {% endfor %}
                </select>
            </div>


            <div class="row my-5">
              <div class="col-12 col-md-6 mb-md-0 mb-3">
                <input
                  type="number"
                  min="1"
                  value=""
                  class="form-control form-control-lg col-12"
                  name="credit_hrs"
                  placeholder="عدد ساعات المادة"
                />
              </div>
              <div class="col-12 col-md-6 mb-md-0 mb-3">
                <div class="mx-4">
                  <label
                    class="col-9 fs-5"
                  >
                    هل يوجد سكشن للمادة؟
                  </label>
                  <input
                    type="checkbox"
                    class="col-1 m-auto"
                    style="transform: scale(1.5);"
                    name="has_section"
                    id="has_section"
                    autocomplete="off"
                    value=""
                  />
                </div>
              </div>
            </div>


            <div
              class="row justify-content-around mt-5 pt-5"
            >
              <button
                type="button"
                class="btn btn-outline-danger btn-lg col-12 col-md-5"
                data-bs-dismiss="modal"
              >
                الغاء
              </button>
              <button
                type="submit"
                class="btn btn-primary btn-lg col-12 col-md-5"
              >
                حفظ
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
