{% extends "layout/base.html" %} {% block title_block %}قاعات التدريس{% endblock
%} {% block content %}

<section class="container-fluid g-0">
  <div class="p-5 classRooms-bg">
    <div class="" id="container">
      <nav aria-label="breadcrumb" dir="rtl" lang="">
        <ol class="breadcrumb" dir="rtl">
          <li class="breadcrumb-item">
            <a
              href="/courses"
              class="fw-normal text-secondary text-decoration-none"
            >
              المواد
            </a>
          </li>
          <li class="breadcrumb-item active" id="bc-slash" aria-current="page">
            <span class="px-2 fw-normal text-secondary">اضافة مادة جديدة</span>
          </li>
        </ol>
      </nav>

      <h1 class="h2 addClassRoomsH1 pt-3 pb-4">اضافة مادة جديدة</h1>

      <form
        action="{{url_for('course.new_coures')}}"
        method="post"
        redirectLink="/courses"
        id="multiValuesForm"
      >
        <div
          id="form-container"
          class="row g-0 justify-content-between-center align-items-start py-4"
        >
          <div class="row w-100 g-0 justify-content-between mt-3 border-bottom border-5 py-4" id="formRow">
            <div class="col-2 mb-md-0 mb-3">
              <input
                type="text"
                value=""
                class="form-control form-control-lg col-12"
                name="code"
                placeholder="كود المادة"
              />
            </div>
            <div class="col-3 mb-md-0 mb-3">
              <input
                type="text"
                value=""
                class="form-control form-control-lg col-12"
                name="name"
                placeholder="إسم المادة"
              />
            </div>
            <div class="col-2 mb-md-0 mb-3">
              <select
                class="form-control form-control-lg col-12"
                style="
                  font-family: bootstrap-icons;
                  border: 1px solid #ced4da;
                  color: #6c757d;
                  border-radius: 0.5rem;
                  min-height: 100%;
                "
                aria-label=".form-select-lg example"
                name="regulation_id"
              >
                <option selected disabled>الائحة</option>
                {% for regulation in context.regulations %}
                <option value="{{ regulation.id }}">
                  {{ regulation.name }}
                </option>
                {% endfor %}
              </select>
            </div>
            <div class="col-2 mb-md-0 mb-3">
              <select
                class="form-control form-control-lg col-12"
                style="
                  font-family: bootstrap-icons;
                  border: 1px solid #ced4da;
                  color: #6c757d;
                  border-radius: 0.5rem;
                  min-height: 100%;
                "
                aria-label=".form-select-lg example"
                name="department_id"
              >
                <option selected disabled>القسم</option>
                {% for department in context.departments %}
                <option value="{{ department.id }}">
                  {{ department.name }}
                </option>
                {% endfor %}
              </select>
            </div>

            <br />
            <div class="my-3"></div>
            <br />

            <div class="col-2 mb-md-0 mb-3">
              <select
                class="form-control form-control-lg col-12"
                style="
                  font-family: bootstrap-icons;
                  border: 1px solid #ced4da;
                  color: #6c757d;
                  border-radius: 0.5rem;
                  min-height: 100%;
                "
                aria-label=".form-select-lg example"
                name="program"
                autocomplete="off"
              >
                <option selected disabled>البرنامج</option>
                <option value="Regularity">انتظام</option>
                <option value="Affiliation">انتساب</option>
                <!-- <option value="Open Education">تعليم مفتوح</option> -->
                <option value="Both">انتظام وانتساب</option>
              </select>
            </div>
            <div class="col-2 mb-md-0 mb-3">
              <select
                class="form-control form-control-lg col-12"
                style="
                  font-family: bootstrap-icons;
                  border: 1px solid #ced4da;
                  color: #6c757d;
                  border-radius: 0.5rem;
                  min-height: 100%;
                "
                aria-label=".form-select-lg example"
                name="year"
                autocomplete="off"
              >
                <option selected disabled>الفرقة</option>
                <option value="1">الأولى</option>
                <option value="2">الثانية</option>
                <option value="3">الثالثة</option>
                <option value="4">الرابعة</option>
              </select>
            </div>
            <div class="col-2 mb-md-0 mb-3">
              <select
                class="form-control form-control-lg col-12"
                style="
                  font-family: bootstrap-icons;
                  border: 1px solid #ced4da;
                  color: #6c757d;
                  border-radius: 0.5rem;
                  min-height: 100%;
                "
                aria-label=".form-select-lg example"
                name="semester"
              >
                <option selected disabled>الترم</option>
                <option value="First">الترم الأول</option>
                <option value="Second">الترم الثاني</option>
              </select>
            </div>
            <div class="col-2 mb-md-0 mb-3">
              <input
                type="number"
                value=""
                min="0"
                class="form-control form-control-lg col-12"
                name="credit_hrs"
                placeholder="عدد ساعات المادة"
              />
            </div>

            <br />
            <div class="my-3"></div>
            <br />

            <div class="row col-3 mb-md-0 mb-3  align-items-center">
              <label
                class="col-9 fs-5"
              >
                اضافة سكشن للمادة
              </label>
              <input
                type="checkbox"
                class="col-1 m-auto"
                style="transform: scale(1.5);"
                name="has_section"
                id="has_section"
                autocomplete="off"
                value=""
              />
            </div>
            <div class="col-1 mb-md-0 mb-3">
              <button
                id="add-form-button"
                type="button"
                class="btn btn-primaryTwo text-end col-12"
                onClick="addForm()"
              >
                <i class="bi bi-plus-lg text-primary fs-2"></i>
              </button>
            </div>
            <div class="col-1 mb-md-0 mb-3">
              <i
                class="delete-button text-danger btn bi bi-trash col-12 col-md-1 text-center fs-3"
                data-form-id="form-1"
                onClick="removeForm(this)"
              ></i>
            </div>
          </div>
        </div>

        <div dir="ltr" class="py-3 px-4">
          <button type="button" class="btn btn-outline-danger px-4">
            ألغاء
          </button>
          <button
            type="button"
            onClick="onFormSubmited();"
            class="btn btn-primary px-4"
          >
            حفظ
          </button>
        </div>
      </form>
    </div>
  </div>
</section>

{% endblock %}
