{% extends "layout/base.html" %} {% block title_block %}قاعات التدريس{% endblock %}
{% block content %}

<section class="container-fluid g-0">
  <div class="p-5 classRooms-bg">
    <div class="" id="container">
      <nav aria-label="breadcrumb" dir="rtl" lang="">
        <ol class="breadcrumb" dir="rtl">
          <li class="breadcrumb-item">
            <a href="/rooms" class="fw-normal text-secondary text-decoration-none">
              قاعات التدريس
            </a>
          </li>
          <li class="breadcrumb-item active" id="bc-slash" aria-current="page">
            <span class="px-2 fw-normal text-secondary">اضافة قاعات التدريس</span>
          </li>
        </ol>
      </nav>

      <h1 class="h2 addClassRoomsH1 pt-3 pb-4">اضافة قاعات التدريس</h1>

      <form action="{{url_for('room.new_room')}}" method="post" redirectLink="/rooms" id="multiValuesForm">
        <div
          id="form-container"
          class="row g-0 justify-content-between-center align-items-start py-4"
        >
          <div class="row w-100 g-0 justify-content-between" id="formRow">
            <div class="col-2 mb-md-0 mb-3">
              <select
                class="form-control form-control-lg col-12"
                style="
                  font-family: bootstrap-icons;
                  border: 1px solid #ced4da;
                  color: #6c757d;
                  border-radius: .5rem;
                  min-height: 100%;
                "
                aria-label=".form-select-lg example"
                name="building_id"
              >
                <option selected disabled>المبنى</option>
                {% for building in context.buildings %}
                <option value="{{ building.id }}">{{ building.name }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-3 mb-md-0 mb-3">
              <input
                type="text"
                value=""
                class="form-control form-control-lg col-12"
                name="name"
                placeholder="إسم المدرج"
              />
            </div>
            <div class="col-2 mb-md-0 mb-3">
              <input
                type="number"
                value=""
                min="0"
                class="form-control form-control-lg col-12"
                name="supported_capacity"
                placeholder="العدد الرسمي"
              />
            </div>
            <div class="col-2 mb-md-0 mb-3">
              <input
                type="number"
                value=""
                min="0"
                class="form-control form-control-lg col-12"
                name="real_capacity"
                placeholder="العدد الفعلي"
              />
            </div>
            <div class="col-1 mb-md-0 mb-3">
              <button
                id="add-form-button"
                type="button"
                class="btn btn-primaryTwo text-end col-12"
                onClick="addForm()"
              >
                <i class="bi bi-plus-lg text-primary fs-4"></i>
              </button>
            </div>
            <div class="col-1 mb-md-0 mb-3">
              <i
                class="delete-button text-danger btn bi bi-trash col-12 col-md-1 text-center"
                data-form-id="form-1"
                onClick="removeForm(this)"
              ></i>
            </div>
          </div>
        </div>

        <div dir="ltr" class="py-3 px-4">
          <button type="button" class="btn btn-outline-danger px-4">
            ألغاء
          </button>
          <button type="button" onClick="onFormSubmited();" class="btn btn-primary px-4">حفظ</button>
        </div>
      </form>
    </div>
  </div>
</section>

{% endblock %}
