*{
    font-family: 'Cairo', sans-serif;
}

.addClassRoomsH1{
    color: #313135;
    font-size: 32px;
    font-family: 'PNU';
}
.addClassRoomsIndexBg {
    background-color: #F9F9F9;
    height: 100%;

}

input[type="text"]  {
   color: #888891 !important;
   border: 1px solid #ECECF3 !important;
   background-color: #FCFCFD !important;

}

input::placeholder ,.form-select.addClassRooms{
    color: #73788C !important;
    font-weight: normal !important;
    font-size: 14px !important;
  }
 

input:active,
input:focus {
box-shadow: none !important;
  }
.form-select.addClassRooms{
    appearance: none !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    background: url('../images/addClassRoomsarrow.svg') no-repeat center left !important;
    background-size: 25px !important;
    padding-right: 20px!important;
    background-color: #FCFCFD !important;
    /* color: #888891 !important; */
    border-color: #ECECF3 !important;
  
}

.form-select:focus {
    box-shadow: none !important;
    border-color: #ECECF3 !important;
}
.btn-primaryTwo{
    background-color: transparent !important;
    border: none !important;
}

.breadcrumb-item+.breadcrumb-item::before {
    float: right !important;
}
.addClassRoomsPaddingSelect{
    padding-top: 0.8rem!important;
    padding-bottom: 0.7rem!important;
}