/*start font*/

  @font-face {
font-family: "pnu";
src: url(/pnu/ArbFonts/ArbFONTS-PNU-Bold.ttf);
font-family: "pnu";
src: url(/pnu/ArbFonts/ArbFONTS-PNU-Light.ttf);
font-family: "pnu";
src: url(/pnu/ArbFonts/ArbFONTS-PNU-Medium.ttf);
font-family: "pnu";
src:url(/pnu/ArbFonts/ArbFONTS-PNU-Regular.ttf);
  }


  /* end font */
/* ------------------------------------------------ */
body{
    font-family: "pnu";
    direction: rtl;
    background-color: var(--body-background-color);
    height: 10000px;
    margin-left: 64px;
}
/* ------------------------------------------------ */
/* start root */
:root{
    --font-color: #d9d9d9;
    --hover-links:#313135;
    --body-background-color:#f9f9f9;
}
/* end root */
/* start navbar */
.toggler-icon-doctor{
    background-color: var(--body-background-color);
    width: auto;
    height: auto;
    padding: 0px;
    margin-right: 0px;
    color: var(--hover-links);
    font-family: "pnu-light";
}

.doctor-nav-menu{
    margin-right: 0px;
    margin-top:80px;
    padding-right: 32px;
    display: flex;
    align-items: center;
    gap: 12px;
    height: 32px;
    font-family: "pnu";
    border-bottom:none ;
}




.doctor-nav-menu .first a{
    color: #d9d9d9;
    width:111px;
    font-size: 18px;
    text-decoration: none;

}

.doctor-nav-menu .first a:is(:link, :active, :visited).active{
    color:black;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: #4372EA;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
}

.doctor-nav-menu .second a{
    color: #d9d9d9;
    width:51px;
    font-size: 18px;
    text-decoration: none;
}

.doctor-nav-menu .second a:is(:link, :active, :visited).active{
    color:black;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: #4372EA;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
}

.doctor-nav-menu .third a{
    color: #d9d9d9;
    width:62px;
    font-size: 18px;
    text-decoration: none;
}

.doctor-nav-menu .third a:is(:link, :active, :visited).active{
    color:black;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: #4372EA;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
}



.navbar-doctor-search{
    background-color: #d9d9d9;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 42px;
    height: 60px;
    border-radius: 10px 10px 0px 0px;
    padding:10px 15px;
    width:100%;
}

.doctor-text-search{
    width: 500px;
    height: 40px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 0 153px;
    padding: 6px 21px;
    border-radius: 20px;
    background-color: #f9f9f9;
    margin-left: 135px;
}

.doctor-text-search:focus{
    border:2px solid;
    border-color: #4372ea;
}

.doctor-text-search::placeholder{
width: 29px;
height: 13px;
font-family: 'Almarai';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 13px;
text-align: right;
color: #000000;
}

.add-doctor{
    width: fit-content;
    height: 40px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 6px 20px;
    border-radius: 10px;
    background-color: #4372ea;
    color: #fff;
    margin-left: 12px;
}

.add-subjects{
    width: fit-content;
    height: 40px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 6px 20px;
    border-radius: 10px;
    background-color: #4372ea;
    color: #fff;
}




.searchSVG{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 5px 0px 5px;

    width: auto;
    height: auto;

    background: #FCFCFD;
    border-radius: 6px;
    
    margin-right: 12px;
    margin-left: 15px;
  }
  /* ------------------------------------------------------ */
/* table */

.doctor-table{
    margin-right: 32px;
    gap:0px;
    
}
.doctor-table thead {
    height: 38px;
    
}

.doctor-table thead tr th:nth-child(1){
background-color: #F6F6F6;
    height: 22px;
    flex-grow: 1;
    font-stretch: normal;
    font-style: normal;
    line-height: auto;
    letter-spacing: normal;
    text-align: right;
    width: 240px;
    padding: 8px 6px auto 6px;
}

.doctor-table thead th .search-input{
    color: #606060;
    font-family: pnu;
    font-weight: 700;
    font-size: 12px;
    width: 100%;
    background-color:#f6f6f6;
    border: none;
    outline: none;
}

.doctor-table thead th .search-input::placeholder{
    color: #606060;
    font-family: pnu;
    font-weight: 700;
    font-size: 12px;
}




.doctor-table thead tr th:nth-child(2){
background-color: #F6F6F6;
height: 22px;
flex-grow: 1;
font-stretch: normal;
font-style: normal;
letter-spacing: normal;
text-align: right;
color: #606060;
width: 180px;
padding: 8px 6px auto 6px;
width:192px;

}

.doctor-table thead tr th:nth-child(3){
    background-color: #F6F6F6;
height: 22px;
flex-grow: 1;
font-stretch: normal;
font-style: normal;
letter-spacing: normal;
text-align: right;
color: #606060;
width: 180px;
padding: 8px 6px auto 6px;
width:220px;

}

.doctor-table thead tr th:nth-child(4){
background-color: #F6F6F6;
height: 22px;
flex-grow: 1;
font-stretch: normal;
font-style: normal;
letter-spacing: normal;
text-align: right;
color: #606060;
width: 180px;
padding: 8px 6px auto 6px;
width:220px;
}


.doctor-table thead tr th:nth-child(5){
    background-color: #f6f6f6;
    height: 22px;
    flex-grow: 1;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: right;
    color: #606060;
    width: 180px;
    padding: 8px 6px auto 6px;
    width:220px;
    }

.doctor-table tbody{
    font-size: 16px;
    font-weight: 400;
    font-family: pnu;
}
    
.doctor-table tbody td:nth-child(1){
    height: 56px;
    flex-grow: 1;
    font-stretch: normal;
    font-style: normal;
    line-height: auto;
    letter-spacing: normal;
    text-align: right;
    width: 240px;
    padding: 8px 6px auto 6px;
    font-size: 12px;
    font-weight: 400;
    color: #313135;
    background-color: #F6F6F6;
}

.doctor-table tbody td:nth-child(2){
    width: 27px;
    height: 22px;
    flex-grow: 0;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #313135;
    padding-top: 30px;
    font-size: 12px;
    font-weight: 400;
    color: #313135;
    background-color: #F6F6F6;
}


.doctor-table tbody td:nth-child(3){
    width: 27px;
    height: 22px;
    flex-grow: 0;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #313135;
    padding-top: 30px;
    font-size: 12px;
    font-weight: 400;
    color: #313135;
    background-color: #F6F6F6;
}


.doctor-table tbody td:nth-child(4){
    width: 27px;
    height: 22px;
    flex-grow: 0;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #313135;
    padding-top: 30px;
    font-size: 12px;
    font-weight: 400;
    color: #313135;
    background-color: #F6F6F6;
}

.doctor-table tbody td:nth-child(5){
    height: 22px;
    flex-grow: 0;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #313135;
    padding-top: 30px;
    font-size: 12px;
    font-weight: 400;
    color: #313135;
    background-color: #F6F6F6;
}

.doctor-table tbody td:nth-child(5) svg{
    cursor: pointer;
    width: 50px;
    height: 40px;
    flex-grow: 0;
    border: solid 1.5px var(--icon-erorr);
}



