html {
    direction: rtl !important;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #eee !important;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.inputs {
    min-height: 55vh;
}

.input-form {}

.inputs form input,
select {
    border-radius: 5px;
    width: 230px;
    color: #73788c;

}

.titels h3 {
    margin-top: 20px;
    color: #313135;
    margin-bottom: 20px;
}

.titels span {
    font-size: 12px;
    color: #73788c;
}


.titels h3 {
    margin-top: 10px;
    font-feature-settings: normal;
    color: #333333b8;

}

form {
    margin-bottom: 30px;
    align-items: center;
    gap: 83px;
    margin-top: 30px;

}

input,
select {
    outline: none;
    border: 0;
    padding: 5px 10px;
    border: 1px solid #33333373;
}

i {
    cursor: pointer;
    font-weight: 600;
    color: #4372ea;
}

.icons {
    display: flex;
    gap: 20px;
}

.icons .fa-trash-can {
    color: #e11717bf;

}

.icon {
    display: flex;
    justify-content: end;
    gap: 10px;
}


.icon .btn-danger {
    color: #bb182c;
    background-color: #f9f9f9;
}


.icon .btn-success {
    color: #f9f9f9;
    background-color: #4372ea;
}