/*start font*/

  @font-face {
font-family: "pnu";
src: url(/pnu/ArbFonts/ArbFONTS-PNU-Bold.ttf);
font-family: "pnu";
src: url(/pnu/ArbFonts/ArbFONTS-PNU-Light.ttf);
font-family: "pnu";
src: url(/pnu/ArbFonts/ArbFONTS-PNU-Medium.ttf);
font-family: "pnu";
src:url(/pnu/ArbFonts/ArbFONTS-PNU-Regular.ttf);
  }

  /* end font */
/* ------------------------------------------------ */
body{
    font-family: "pnu";
    direction: rtl;
    background-color: var(--body-background-color);
    margin-left: 64px;
}
/* ------------------------------------------------ */
/* start root */
:root{
    --font-color: #d9d9d9;
    --hover-links:#313135;
    --body-background-color:#f9f9f9;
}
/* end root */
/* start navbar */
.subject-nav-menu{
    margin-right: 0px;
    margin-top:80px;
    padding-right: 32px;
    display: flex;
    align-items: center;
    gap: 12px;
    height: 32px;
    font-family: "pnu";
    border-bottom:none ;
}
.subject-nav-menu .first a,
.subject-nav-menu .second a,
.subject-nav-menu .third a{
    color: #d9d9d9;
    font-size: 18px;
    text-decoration: none;
}
.subject-nav-menu .first a{
    width:111px;
}
.subject-nav-menu .second a{
    width:51px;
}
.subject-nav-menu .third a{
    width:62px;
}
.subject-nav-menu .first  a:is(:link, :active, :visited).active,
.subject-nav-menu .second a:is(:link, :active, :visited).active,
.subject-nav-menu .third  a:is(:link, :active, :visited).active
{
    color:black;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: #4372EA;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
}
.navbar-subject-search{
    background-color: #d9d9d9;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 42px;
    height: 60px;
    border-radius: 10px 10px 0px 0px;
    padding:10px 15px;
    width:100%;
    display: flex;
    align-items: center;
}
.subject-text-search{
    width: 500px;
    height: 40px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 0 153px;
    padding: 6px 21px;
    border-radius: 20px;
    background-color: #f9f9f9;
}
.subject-text-search:focus{
    border:2px solid;
    border-color: #4372ea;
}
.subject-text-search::placeholder{
width: 29px;
height: 13px;
font-family: 'Almarai';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 13px;
text-align: right;
color: #000000;
}
.add-new-subjects{
    width: fit-content;
    height: 40px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 6px 20px;
    border-radius: 10px;
    background-color: #4372EA;
    color: #FFFFFF;
    margin-right: 547.37px;
}
.add-new-subjects:focus{
    background-color: #4372EA;
    color: #FFFFFF;
}
.add-new-subjects:hover{
    background-color: #4372EA;
    color: #FFFFFF;
}
.searchSVG{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 5px 0px 5px;
    width: auto;
    height: auto;
    background: #FCFCFD;
    border-radius: 6px;
    margin-right: 12px;
    margin-left: 15px;
}
  /* ------------------------------------------------------ */
/* table */
.subjects-table{
    margin-right: 32px;
    gap:0px;
    
}
.subjects-table thead {
    height: 38px;   
}
/* البحث */
.subjects-table thead th .search-input{
    color: #606060;
    font-family: pnu;
    font-weight: 700;
    font-size: 12px;
    width: 100%;
    background-color:#f6f6f6;
    border: none;
    outline: none;
}
.subjects-table thead th .search-input::placeholder{
    color: #606060;
    font-family: pnu;
    font-weight: 700;
    font-size: 16px;
}
/* المادة */
/* اللائحة */
/* القسم */
/* الترم */
/* البرنامج */
.subjects-table thead tr th:nth-child(1),
.subjects-table thead tr th:nth-child(2),
.subjects-table thead tr th:nth-child(3),
.subjects-table thead tr th:nth-child(4),
.subjects-table thead tr th:nth-child(5){
    background-color: #F6F6F6;
    height: 22px;
    flex-grow: 1;
    font-stretch: normal;
    font-style: normal;
    line-height: auto;
    letter-spacing: normal;
    text-align: right;
    width: 134.4px;
    padding: 8px 6px auto 6px;
    font-size: 16px;}
/* ترم معاكس */
/*  سمر كورس */
.subjects-table thead tr th:nth-child(6),
.subjects-table thead tr th:nth-child(7)
{
    background-color: #f6f6f6;
    height: 22px;
    flex-grow: 1;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: normal;
    text-align: center;
    color: #606060;
    padding: 8px 6px auto 6px;
    width: 134.4px;
    cursor: default;
    font-size: 16px;
    }
/*  icon => delete and edit */
.subjects-table thead tr th:nth-child(8){
    width: 127.14px;
    flex-grow: 1;
    font-size: 12px;
    color: #606060;
    background-color: #f6f6f6;
    }
/* table body */
.subjects-table tbody{ 
    font-size: 16px;
    font-weight: 400;
    font-family: pnu;
    height: 56px;
}
/* المادة  */
/* اللائحة */
/* القسم */
/* الترم */
/* البرنامج */
.subjects-table tbody td:nth-child(1),
.subjects-table tbody td:nth-child(2),
.subjects-table tbody td:nth-child(3),
.subjects-table tbody td:nth-child(4),
.subjects-table tbody td:nth-child(5){
width: 134.4px;
height: 22px;
font-family: 'PNU';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* identical to box height */
text-align: right;
/* Text/Primary */
color: #313135;
}
/* ترم معاكس */
/* سمر كورس */
.subjects-table tbody td:nth-child(6),
.subjects-table tbody td:nth-child(7){
    text-align: center;
}
/* icons */
.subjects-table tbody td:nth-child(8){
    padding-left: 0px;
    width: 127.14px;
}
icons svg 
.subjects-table tbody td:nth-child(8) svg{
    width: 57px;
    height: 22px;
    font-family: 'PNU';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    /* identical to box height */
    text-align: left;
    color: #606060;
    cursor: pointer;
}

.subjects-table tbody td:nth-child(8) a:nth-child(1){
    width: fit-content;
    margin-left: 18px;
    text-decoration: none;
}


.subjects-table tbody td:nth-child(8) img{
    margin:0px;
    padding:0px
}


