{% extends 'layout/base.html' %} {% block title_block %}
  تسجيل الغياب
{% endblock %}

{% block custom_style %}
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/attendance.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/customCalender.css') }}" />
{% endblock %}

{% block content %}
  <section class="container-fluid g-0">
    <div class="p-5 classRooms-bg">
      <div class="mb-5 py-3">
        <!-- 3 links top -->
        <div class="d-flex justify-content-start align-items-center">
          <span class="fw-bolder fs-1 style-day-month" id="dayOfMonth"></span>
          <div class="d-flex flex-column justify-content-center align-items-center">
            <span class="style-month" id="curMonth"></span>
            <span class="style-year" id="curYear"></span>
          </div>
        </div>
        <!-- end 3 links -->
      </div>

      <!-- search and 2 button -->
      <nav class="navbar navbar-doctor-search row">
        <form class="col-5 d-flex doctor-form-search" role="search">
          <input type="text" class="cd-search table-filter doctor-text-search col-4" data-table="order-table" placeholder="البحث" ar />
        </form>
        <div class="col-7 text-md-start d-md-block d-flex justify-content-between mb-md-0">
            <div class="btn-group">
              <button
                class="btn btn-primary dropdown-toggle"
                type="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                id="dropdownMenuButton"
              >
                محاضرة تعويضية
              </button>
              <form action="{{url_for('lecture.get_attendance')}}" method="post" class="dropdown-menu text-end px-3 py-4 mt-5" aria-labelledby="dropdownMenuButton">
                <li>
                  <input
                    type="text"
                    value=""
                    class="form-control form-control-lg col-12 mb-3"
                    name="instructorName"
                    placeholder="إسم المحاضر"
                    id="textSearchField"
                    onkeyup="searchField('textSearchField')"
                  />
                  <ul id="searchResultBox" style="z-index: 99999;"></ul>
                  <input
                    hidden
                    id="{{ 'textSearchField-' + 'data' }}"
                    value="{{ context.instructors_name }}"
                  />
                </li>
                <li>
                  <input
                    type="text"
                    class="form-control form-control-lg col-12 mb-3"
                    placeholder="المادة"
                    ar
                    onkeyup="generalSearch(this, '/api/courses/search', 'searchBarResultBox-33333', 'selectCoursBySearch(this)', true)"
                  />
                  <ul id="searchBarResultBox-33333"></ul>
                  <input
                    hidden
                    id="course"
                    value=""
                    name="course_id"
                  />
                </li>

                <li>
                  <input
                    type="text"
                    class="form-control form-control-lg col-12 mb-3 bg-transparent datepicker"
                    style="font-family: bootstrap-icons; border: 1px solid #ccc; text-align: right;"
                    placeholder="&#xF1F6; تاريخ التعويض"
                    readonly
                    name="date"
                    required
                    data-date-format="dd/mm/yyyy"
                  />
                </li>
                <li>
                  <select class="form-control form-control-lg col-12 mb-3" aria-label="example" name="place">
                    <option selected disabled style="color: #ccc;">مكان التعويض</option>
                    <option value="offline">عن بعد</option>
                    <option value="online">في الكلية</option>
                  </select>
                </li>
                <li class="text-start">
                  <div>
                    <button type="submit" class="btn btn-primary">اضافة</button>
                  </div>
                </li>
              </form>
            </div>

            <a type="button" class="btn btn-success ms-2 me-2" href="/print/attendance-sheet"><span class="fw-normal">طباعة جدول المرور</span></a>
            <button type="button" class="btn btn-light ms-2 me-2 attendance-datepicker">
              <i
                class="bi bi-calendar-week"
                style="font-size: 20px; font-weight: 900;"
              ></i>
            </button>
          </div>
      </nav>

      <!-- table -->
      <table class="table doctor-table cd-table order-table" id="dataTable">
        <thead>
          <tr>
            <th>
              <input type="text" class="search-input" placeholder="المحاضر" />
            </th>
            <th>
              <input type="text" class="search-input" placeholder="الرتبة" />
            </th>
            <th>
              <input type="text" class="search-input" placeholder="المادة" />
            </th>
            <th>
              <input type="text" class="search-input" placeholder="قاعة التدريس" />
            </th>
            <th>
              <input type="text" class="search-input" placeholder="وقت المحاضرة" />
            </th>
            <th>
              <input type="text" class="search-input" placeholder="الترم" />
            </th>
            <th>
              <input type="text" class="search-input" placeholder="الحضور" />
            </th>
            <th>
              <input type="text" class="search-input" placeholder="الغياب" />
            </th>
            <th>
              <input type="text" class="search-input" placeholder="QR Code" />
            </th>
          </tr>
        </thead>
        <tbody>
          {% if context.lectures %}
            {% for lecture in context.lectures %}
              <tr>
                <td>{{ lecture['instructor'].name }}</td>
                <td>{{ lecture['instructor'].role }}</td>
                <td>{{ lecture.course.name }}</td>

                {% for room in context.rooms %}
                {% if room.id == lecture.room_id %}
                <td>{{ room.name }}</td>
                {% endif %}
                {% endfor %}

                <td>{{ lecture.start_time }}</td>
                <td>{{ context.translated_semesters[lecture.course.semester] }}</td>
                <fieldset id="attendance-{{lecture.instructor_course_id}}-{{lecture.room_id}}-{{lecture.day_of_week}}-{{lecture.start_time}}">
                <td>
                  <input
                    type="radio"
                    value="attend"
                    name="attendance-{{lecture.instructor_course_id}}-{{lecture.room_id}}-{{lecture.day_of_week}}-{{lecture.start_time}}"
                    onclick="window.location.href = `/lecture/attend/{{lecture.path}}_${new URLSearchParams(window.location.search).get('date')}/true`"
                    {% if lecture.attended %} checked {% endif %}
                  >
                </td>
                <td>
                  <input
                    type="radio"
                    value="absent"
                    name="attendance-{{lecture.instructor_course_id}}-{{lecture.room_id}}-{{lecture.day_of_week}}-{{lecture.start_time}}"
                    onclick="window.location.href = `/lecture/attend/{{lecture.path}}_${new URLSearchParams(window.location.search).get('date')}/false`"
                    {% if not lecture.attended %} checked {% endif %}
                  >
                </td>

                <td><input type="checkbox" disabled /></td>
              </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td colspan="9">
                <h3 class="text-center">لا توجد بيانات</h3>
              </td>
            </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </section>
{% endblock %}
{% block custom_script %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
  <script src="{{ url_for('static', filename = 'js/attendance.js') }}"></script>
  <script src="{{ url_for('static', filename = 'js/customCalender.js') }}"></script>
{% endblock %}
