{% extends 'layout/base.html' %} {% block title_block %}
انشاء جدول المحاضرات
{% endblock %}

{% block content %}
  <section class="container-fluid g-0">
    <div class="p-5 classRooms-bg">
      <div class="container-fluid g-0">
        <div class="p-5 addClassRoomsIndexBg" id="container">
          <h3 class="addClassRoomsH1 pt-3 pb-4">انشاء جدول المحاضرات</h3>

          <form id="form-container" class="w-100">
            <div id="form-1" class="row justify-content-between-center align-items-start py-4 w-100">
              <div class="row col-sm-9 justify-content-between">
                <div class="col-12 col-sm-6 col-md-4 mb-md-0 mb-3">
                  <select class="form-control form-control-lg col-12" style="
                      font-family: bootstrap-icons;
                      border: 1px solid #ced4da;
                      color: #6c757d;
                      border-radius: 0.5rem;
                      min-height: 100%;
                    " aria-label=".form-select-lg example"
                    name="regulation_id"
                    id="regulation_id"

                    disabled

                  >

                    {% if not context.regulation_id %}
                    <option selected disabled>الائحة</option>
                    {% endif %}
                    {% for regulation in context.regulations %}
                      <option
                        value="{{ regulation.id }}"

                        {% if context.regulation_id == regulation.id %}
                          selected
                        {% endif %}

                      >
                        {{ regulation.name }}
                      </option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-12 col-sm-6 col-md-4 mb-md-0 mb-3">
                  <select class="form-control form-control-lg col-12" style="
                      font-family: bootstrap-icons;
                      border: 1px solid #ced4da;
                      color: #6c757d;
                      border-radius: 0.5rem;
                      min-height: 100%;
                    " aria-label=".form-select-lg example"
                    name="semester"
                    id="semester"

                    disabled

                  >
                    {% if context.semester %}

                    <option {% if context.semester == 'First' %}selected{% endif %} value="First">الترم الاول</option>
                    <option {% if context.semester == 'Second' %}selected{% endif %} value="Second">الترم الثاني</option>
                    <option {% if context.semester == 'Summer' %}selected{% endif %} value="Summer">الترم الصيفي</option>
                    {% else %}
                    <option disabled selected>الترم</option>
                    {% endif %}
                  </select>
                </div>
                <div class="col-12 col-sm-6 col-md-4 mb-md-0 mb-3">
                  <select class="form-control form-control-lg col-12" style="
                      font-family: bootstrap-icons;
                      border: 1px solid #ced4da;
                      color: #6c757d;
                      border-radius: 0.5rem;
                      min-height: 100%;
                    " aria-label=".form-select-lg example"
                    name="year"
                    id="year"

                    disabled

                  >
                  {% if context.year %}

                  <option {% if context.year == '1' %}selected{% endif %} value="1">الفرقة الاولى</option>
                  <option {% if context.year == '2' %}selected{% endif %} value="2">الفرقة الثانية</option>
                  <option {% if context.year == '3' %}selected{% endif %} value="3">الفرقة الثالثة</option>
                  <option {% if context.year == '4' %}selected{% endif %} value="4">الفرقة الرابعة</option>
                  {% else %}
                  <option disabled selected>الفرقة</option>
                  {% endif %}
                  </select>
                </div>
              </div>

              <div class="col text-start">
                <i class="bi bi-printer-fill fs-2" style="color: #4372EA; cursor: pointer;"></i>
              </div>
            </div>
          </form>

          <div class="accordion" id="accordionExample">
            <!-- Departments Tables (Arabic - Regularity) -->

          {% for department in context.divisions[context.year].departments  %}

          {% for language in context.languages %}
            {% if language == "ar"  %}

            {% for program in context.programs %}
            {% if program != "Open Education" %}
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button onclick="addAccordionTaple(this)" class="accordion-button collapsed justify-content-between flex-wrap" type="button" data-bs-toggle="collapse" data-bs-target="#{{ language }}-{{ program }}-{{ department.id }}" aria-expanded="false" aria-controls="{{ language }}-{{ program }}-{{ department.id }}">
                  <div class="row col-10 align-items-center text-right justify-content-between">
                    <span class="col-6 fs-5" style="text-align: right;">جدول قسم {{ department.name }} {{ context.languages[language] }} {{ context.programs[program] }} </span>
                    <div class="col-4 mb-md-0 mb-3">
                      <input
                        type="number"
                        value=""
                        class="form-control form-control-lg col-12"
                        style="z-index: 1000;"
                        id="groupsNum"
                        min="1"
                        name="groups_num"
                        placeholder="عدد المجموعات"
                      />
                    </div>
                  </div>
                  <div class="col-2">
                    <span class="badge bg-danger py-2 px-2 ms-md-3 fs-6" id="accordionStatus"></span>
                  </div>
                </button>
              </h2>
              <div id="{{ language }}-{{ program }}-{{ department.id }}" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body p-5" id="group-0">
                  <h3 id="groupName" class="text-center mt-4 mb-3">مجموعه (1)</h3>

                  <ul class="list-group rounded-4 ms-4">

                    <!-- Day Container -->

                    {% for day in context.weekDays %}
                    <li class="list-group-item col-12 d-flex d-flex flex-wrap col-12 align-items-center day-{{ day }}">
                      <span class="mx-2 col-lg-1 col-sm-2 col-3">{{ context.weekDays[day] }}</span>

                      <div class="col-md-9 col-12 d-flex row flex-wrap" id="dayContent">
                        <!-- Day Content -->


                      </div>

                      <div class="col-1 text-md-start text-end me-2">
                        <input type="text" hidden name="day_of_week" name="{{ day }}">
                        <i class="bi bi-plus-lg fs-3 cursor" style="color: #4372EA;" onclick="addCourse(this, {{ day }})"></i>
                      </div>
                    </li>
                    {% endfor %}


                  </ul>
                </div>
              </div>
            </div>
            {% endif %}
            {% endfor %}

            {% else %}
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed justify-content-between flex-wrap" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <div class="d-flex col-10 align-items-center">
                    <span>جدول قسم {{ department.name }} {{ context.languages[language] }} </span>
                    <div class="col-5 col-sm-3 col-md-2 mb-md-0 mb-3">
                      <input type="number" class="form-control form-control-lg col-12" id="exampleFormControlInput3" placeholder="  1 " />
                    </div>
                  </div>
                  <div class="col">
                    <span class="badge text-bg-light-c py-2 px-2 ms-md-3 textStutas" name="textStutas">لم يكتمل</span>
                  </div>
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body p-5">
                  <h3 class="text-center mt-4 mb-3">مجموعه (1)</h3>

                  <ul class="list-group rounded-4 ms-4">
                    <li class="list-group-item col-12 d-flex d-flex flex-wrap col-12 align-items-center">
                      <span class="mx-2 col-lg-1 col-md-2 col-12">السبت</span>
                      <div class="col-md-9 col-12 d-flex row flex-wrap"></div>
                      <div class="col text-md-start text-end me-2">
                        <img src="./img/add.svg" alt=" add" />
                      </div>
                    </li>
                    <li class="list-group-item col-12 d-flex d-flex flex-wrap col-12 align-items-center">
                      <span class="mx-2 col-lg-1 col-md-2 col-12">الاحد</span>
                      <div class="col-md-9 col-12 d-flex row flex-wrap">
                        <ul class="list-group col-lg-6 col-12">
                          <li class="list-group-item bg-primary">
                            <div class="col text-start">
                              <img src="./img/close.svg" alt="close icone" />
                            </div>
                          </li>
                          <li class="list-group-item bg-primary d-flex">
                            <span class="text-white">د/</span>
                            <select class="form-select" aria-label="Default select example">
                              <option selected>ناصر نور</option>
                              <option value="1">نور ناصر</option>
                            </select>
                          </li>
                          <li class="list-group-item bg-primary">
                            <select class="form-select" aria-label="Default select example">
                              <option selected>تكاليف متقدمة</option>
                              <option value="1">تكاليف متقدمة</option>
                            </select>
                          </li>
                          <li class="list-group-item bg-primary">
                            <select class="form-select" aria-label="Default select example">
                              <option selected>ح 602</option>
                              <option value="1">ح 602</option>
                            </select>
                          </li>
                          <li class="list-group-item bg-primary">
                            <input type="number" class="form-control form-control-lg col-12" id="exampleFormControlInput1" placeholder="11   " />
                          </li>
                        </ul>

                        <ul class="list-group col-lg-6 col-12">
                          <li class="list-group-item bg-primary">
                            <div class="col text-start">
                              <img src="./img/close.svg" alt="close icone" />
                            </div>
                          </li>
                          <li class="list-group-item bg-primary d-flex">
                            <span class="text-white">د/</span>
                            <select class="form-select" aria-label="Default select example">
                              <option selected>ناصر نور</option>
                              <option value="1">نور ناصر</option>
                            </select>
                          </li>
                          <li class="list-group-item bg-primary">
                            <select class="form-select" aria-label="Default select example">
                              <option selected>تكاليف متقدمة</option>
                              <option value="1">تكاليف متقدمة</option>
                            </select>
                          </li>
                          <li class="list-group-item bg-primary">
                            <select class="form-select" aria-label="Default select example">
                              <option selected>ح 602</option>
                              <option value="1">ح 602</option>
                            </select>
                          </li>
                          <li class="list-group-item bg-primary">
                            <input type="number" class="form-control form-control-lg col-12" id="exampleFormControlInput1" placeholder="11   " />
                          </li>
                        </ul>
                      </div>

                      <div class="col text-md-start text-end me-2">
                        <img src="./img/add.svg" alt=" add" />
                      </div>
                    </li>
                    <li class="list-group-item col-12 d-flex d-flex flex-wrap col-12 align-items-center">
                      <span class="mx-2 col-lg-1 col-sm-2 col-3">الاثنين</span>
                      <div class="col-md-9 col-12 d-flex row flex-wrap">
                        <ul class="list-group col-lg-6 col-12">
                          <li class="list-group-item bg-primary">
                            <div class="col text-start">
                              <img src="./img/close.svg" alt="close icone" />
                            </div>
                          </li>
                          <li class="list-group-item bg-primary d-flex">
                            <span class="text-white">د/</span>
                            <select class="form-select" aria-label="Default select example">
                              <option selected>ناصر نور</option>
                              <option value="1">نور ناصر</option>
                            </select>
                          </li>
                          <li class="list-group-item bg-primary">
                            <select class="form-select" aria-label="Default select example">
                              <option selected>تكاليف متقدمة</option>
                              <option value="1">تكاليف متقدمة</option>
                            </select>
                          </li>
                          <li class="list-group-item bg-primary">
                            <select class="form-select" aria-label="Default select example">
                              <option selected>ح 602</option>
                              <option value="1">ح 602</option>
                            </select>
                          </li>
                          <li class="list-group-item bg-primary">
                            <input type="number" class="form-control form-control-lg col-12" id="exampleFormControlInput1" placeholder="11   " />
                          </li>
                        </ul>

                        <ul class="list-group col-lg-6 col-12">
                          <li class="list-group-item bg-primary">
                            <div class="col text-start">
                              <img src="./img/close.svg" alt="close icone" />
                            </div>
                          </li>
                          <li class="list-group-item bg-primary d-flex">
                            <span class="text-white">د/</span>
                            <select class="form-select" aria-label="Default select example">
                              <option selected>ناصر نور</option>
                              <option value="1">نور ناصر</option>
                            </select>
                          </li>
                          <li class="list-group-item bg-primary">
                            <select class="form-select" aria-label="Default select example">
                              <option selected>تكاليف متقدمة</option>
                              <option value="1">تكاليف متقدمة</option>
                            </select>
                          </li>
                          <li class="list-group-item bg-primary">
                            <select class="form-select" aria-label="Default select example">
                              <option selected>ح 602</option>
                              <option value="1">ح 602</option>
                            </select>
                          </li>
                          <li class="list-group-item bg-primary">
                            <input type="number" class="form-control form-control-lg col-12" id="exampleFormControlInput1" placeholder="11   " />
                          </li>
                        </ul>
                      </div>

                      <div class="col text-md-start text-end me-2">
                        <img src="./img/add.svg" alt=" add" />
                      </div>
                    </li>
                    <li class="list-group-item col-12 d-flex d-flex flex-wrap col-12 align-items-center">
                      <span class="mx-2 col-lg-1 col-sm-2 col-3">الثلاثاء</span>
                      <div class="col-md-9 col-12 d-flex row flex-wrap">
                        <ul class="list-group col-lg-6 col-12">
                          <li class="list-group-item bg-primary">
                            <div class="col text-start">
                              <img src="./img/close.svg" alt="close icone" />
                            </div>
                          </li>
                          <li class="list-group-item bg-primary d-flex">
                            <span class="text-white">د/</span>
                            <select class="form-select" aria-label="Default select example">
                              <option selected>ناصر نور</option>
                              <option value="1">نور ناصر</option>
                            </select>
                          </li>
                          <li class="list-group-item bg-primary">
                            <select class="form-select" aria-label="Default select example">
                              <option selected>تكاليف متقدمة</option>
                              <option value="1">تكاليف متقدمة</option>
                            </select>
                          </li>
                          <li class="list-group-item bg-primary">
                            <select class="form-select" aria-label="Default select example">
                              <option selected>ح 602</option>
                              <option value="1">ح 602</option>
                            </select>
                          </li>
                          <li class="list-group-item bg-primary">
                            <input type="number" class="form-control form-control-lg col-12" id="exampleFormControlInput1" placeholder="11   " />
                          </li>
                        </ul>

                        <ul class="list-group col-lg-6 col-12">
                          <li class="list-group-item bg-primary">
                            <div class="col text-start">
                              <img src="./img/close.svg" alt="close icone" />
                            </div>
                          </li>
                          <li class="list-group-item bg-primary d-flex">
                            <span class="text-white">د/</span>
                            <select class="form-select" aria-label="Default select example">
                              <option selected>ناصر نور</option>
                              <option value="1">نور ناصر</option>
                            </select>
                          </li>
                          <li class="list-group-item bg-primary">
                            <select class="form-select" aria-label="Default select example">
                              <option selected>تكاليف متقدمة</option>
                              <option value="1">تكاليف متقدمة</option>
                            </select>
                          </li>
                          <li class="list-group-item bg-primary">
                            <select class="form-select" aria-label="Default select example">
                              <option selected>ح 602</option>
                              <option value="1">ح 602</option>
                            </select>
                          </li>
                          <li class="list-group-item bg-primary">
                            <input type="number" class="form-control form-control-lg col-12" id="exampleFormControlInput1" placeholder="11   " />
                          </li>
                        </ul>
                      </div>

                      <div class="col text-md-start text-end me-2">
                        <img src="./img/add.svg" alt=" add" />
                      </div>
                    </li>
                    <li class="list-group-item col-12 d-flex d-flex flex-wrap col-12 align-items-center">
                      <span class="mx-2 col-lg-1 col-sm-2 col-3">الاربعاء</span>
                      <div class="col-md-9 col-12 d-flex row flex-wrap"></div>

                      <div class="col text-md-start text-end me-2">
                        <img src="./img/add.svg" alt=" add" />
                      </div>
                    </li>
                    <li class="list-group-item col-12 d-flex d-flex flex-wrap col-12 align-items-center">
                      <span class="mx-2 col-lg-1 col-sm-2 col-3">الخميس</span>
                      <div class="col-md-9 col-12 d-flex row flex-wrap">
                        <ul class="list-group col-lg-6 col-12">
                          <li class="list-group-item bg-primary">
                            <div class="col text-md-start text-end me-2">
                              <img src="./img/close.svg" alt="close icone" />
                            </div>
                          </li>
                          <li class="list-group-item bg-primary d-flex">
                            <span class="text-white">د/</span>
                            <select class="form-select" aria-label="Default select example">
                              <option selected>ناصر نور</option>
                              <option value="1">نور ناصر</option>
                            </select>
                          </li>
                          <li class="list-group-item bg-primary">
                            <select class="form-select" aria-label="Default select example">
                              <option selected>تكاليف متقدمة</option>
                              <option value="1">تكاليف متقدمة</option>
                            </select>
                          </li>
                          <li class="list-group-item bg-primary">
                            <select class="form-select" aria-label="Default select example">
                              <option selected>ح 602</option>
                              <option value="1">ح 602</option>
                            </select>
                          </li>
                          <li class="list-group-item bg-primary">
                            <input type="number" class="form-control form-control-lg col-12" id="exampleFormControlInput1" placeholder="11   " />
                          </li>
                        </ul>
                      </div>

                      <div class="col text-md-start text-end me-2">
                        <img src="./img/add.svg" alt=" add" />
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            {% endif %}


          {% endfor %}


          {% endfor %}

          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block custom_script %}
<script src="{{ url_for('static', filename='js/createTableLecIndex.js') }}"></script>
{% endblock %}
