{% extends "layout/base.html" %} {% block title_block %}تعيين مواد المحاضرين{%
endblock %} {% block content %}

<section class="container-fluid g-0">
  <div class="p-5 classRooms-bg">
    <div class="" id="container">
      <nav aria-label="breadcrumb" dir="rtl" lang="">
        <ol class="breadcrumb" dir="rtl">
          <li class="breadcrumb-item">
            <a
              href="/instructors"
              class="fw-normal text-secondary text-decoration-none"
            >
              المحاضرين
            </a>
          </li>
          <li class="breadcrumb-item active" id="bc-slash" aria-current="page">
            <span class="px-2 fw-normal text-secondary">تعين المواد</span>
          </li>
        </ol>
      </nav>

      <h1 class="h2 addClassRoomsH1 pt-3 pb-4">تعيين المواد</h1>

      <!--action="{{url_for('instructor.new_one')}}" method="post"-->
      <form
        action="{{url_for('instructor.new_assign')}}"
        method="post"
        redirectLink="/instructors"
        id="multiValuesForm2"
      >
        <div
          class="row g-0 justify-content-between-center align-items-start py-4"
        >
          <div class="mb-5">
            <h4 class="pb-4 pt-2">المعلومات الاساسية</h4>
            <input
              type="text"
              value=""
              class="{{ 'textSearchField-' + 'autoField' }}"
              name="id"
              hidden
            />
            <input
              type="text"
              value="/api/instructors"
              id="{{ 'textSearchField-' + 'fullData' }}"
              hidden
            />
            <div class="col-12 d-flex justify-content-start flex-wrap">
              <div class="col-lg-3 col-sm-12 col-md-6 mb-md-0 mb-3">
                <input
                  type="text"
                  value=""
                  class="form-control form-control-lg col-12"
                  name="instructorName"
                  placeholder="إسم المحاضر"
                  id="textSearchField" 
                  onkeyup="searchField('textSearchField')"
                />
                <ul id="searchResultBox"></ul>
                <input
                  hidden
                  id="{{ 'textSearchField-' + 'data' }}"
                  value="{{ context.instructors_name }}"
                />
              </div>
              <div class="col-1"></div>
              <div class="col-lg-3 col-sm-12 col-md-6 mb-md-0 mb-3">
                <input
                  type="text"
                  value=""
                  class="form-control form-control-lg col-12 {{ 'textSearchField-' + 'autoField' }}"
                  name="role"
                  placeholder="الرتبة"
                  disabled
                />
              </div>
              <div class="col-1"></div>
              <div class="col-lg-3 col-sm-12 col-md-6 mb-md-0 mb-3">
                <input
                  type="text"
                  value=""
                  class="form-control form-control-lg col-12 {{ 'textSearchField-' + 'autoField' }}"
                  name="department"
                  placeholder="القسم"
                  disabled
                />
              </div>
            </div>
          </div>

          <h4 class="pb-4 pt-3">اضافة مواد {{ context.semester.translated_semester }}</h4>
          <div id="form-container">
            <div class="row w-100 g-0 justify-content-between" id="formRow">
                <div class="col-12 col-sm-6 col-md-3  mb-3">
                  <select
                    class="form-control form-control-lg col-12"
                    style="
                      font-family: bootstrap-icons;
                      border: 1px solid #ced4da;
                      color: #6c757d;
                      border-radius: .5rem;
                      min-height: 100%;
                    "
                    aria-label=".form-select-lg example"
                    name="regulation"
                  >
                    <option selected disabled>الائحة</option>
                    {% for regulation in context.regulations %}
                    <option value="{{ regulation.id }}">{{ regulation.name }}</option>
                    {% endfor %}
                  </select>
                </div>
                <!--<div class="col-12 col-sm-6 col-md-1  mb-3">
                  <select
                    class="form-control form-control-lg col-12"
                    style="
                      font-family: bootstrap-icons;
                      border: 1px solid #ced4da;
                      color: #6c757d;
                      border-radius: .5rem;
                      min-height: 100%;
                    "
                    aria-label=".form-select-lg example"
                    name="year"
                  >
                    <option selected disabled>الفرقة</option>
                    <option value="1">الأولى</option>
                    <option value="2">الثانية</option>
                    <option value="3">الثالثة</option>
                    <option value="4">الرابعة</option>
                  </select>
                </div>-->
                <input hidden name="semester" value="{{ context.semester.semester }}" />
                <div class="col-12 col-md-3  mb-3">
                  <select
                    class="form-control form-control-lg col-12"
                    style="
                      font-family: bootstrap-icons;
                      border: 1px solid #ced4da;
                      color: #6c757d;
                      border-radius: .5rem;
                      min-height: 100%;
                    "
                    aria-label=".form-select-lg example"
                    name="course"
                    onFocus="selectCourse(this)"
                    id="courseSearch"
                    required
                  >
                    <option selected disabled>المادة</option>
                    <option disabled value="">برجاء اختيار الائحة</option>
                  </select>
                </div>
                <div class="col-12 col-sm-6 col-md-2  mb-3">
                  <input
                    type="number"
                    min="1"
                    value=""
                    defaultValue="1"
                    class="form-control form-control-lg col-12"
                    name="groupsNumber"
                    placeholder="عدد المجموعات"
                  />
                </div>
                <div class="col-1 mb-md-0 mb-2  mb-3">
                  <button
                    id="add-form-button"
                    type="button"
                    class="btn btn-primaryTwo text-end col-12"
                    onClick="addForm()"
                  >
                    <i class="bi bi-plus-lg text-primary fs-4"></i>
                  </button>
                </div>
                <div class="col-1 mb-md-0 mb-2  mb-3">
                  <i
                    class="delete-button text-danger btn bi bi-trash col-12 col-md-1 text-center"
                    data-form-id="form-1"
                    onClick="removeForm(this)"
                  ></i>
                </div>
            </div>
          </div>
        </div>

          <h4 class="pb-4 pt-3">اضافة فترة</h4>
          <div id="form-container2">
            <div class="row w-100 g-0 justify-content-between" id="formRow2">

              <div class="col-12 col-sm-6 col-md-3 mb-3">
                <select
                  class="form-control form-control-lg col-12"
                  style="
                    font-family: bootstrap-icons;
                    border: 1px solid #ced4da;
                    color: #6c757d;
                    border-radius: .5rem;
                    min-height: 100%;
                  "
                  aria-label=".form-select-lg example"
                  name="weekDay"
                >
                  <option selected disabled>اليوم</option>
                  <option value="Saturday">السبت</option>
                  <option value="Sunday">الأحد</option>
                  <option value="Monday">الإثنين</option>
                  <option value="Tuesday">الثلاثاء</option>
                  <option value="Wednesday">الاربعاء</option>
                  <option value="Thursday">الخميس</option>
                  <option value="Friday">الجمعة</option>
                </select>
              </div>

              <div class="col-12 col-sm-6 col-md-1 mb-3">
                <input
                  type="time"
                  class="form-control form-control-lg col-12"
                  style="
                    font-family: bootstrap-icons;
                    border: 1px solid #4372EA;
                    color: #4372EA;
                    border-radius: .5rem;
                    text-align: center;
                  "
                  dir="ltr"
                  name="startTime"
                  value="08:00"
                />
              </div>

              <div class="col-12 col-sm-6 col-md-1 mb-3">
                <input
                  type="time"
                  class="form-control form-control-lg col-12"
                  style="
                    font-family: bootstrap-icons;
                    border: 1px solid #4372EA;
                    color: #4372EA;
                    border-radius: .5rem;
                    text-align: center;
                  "
                  dir="ltr"
                  name="endTime"
                  value="08:00"
                />
              </div>

              <div class="col-1 mb-md-0 mb-3 mb-3">
                <button
                  id="add-form-button"
                  type="button"
                  class="btn btn-primaryTwo text-end col-12"
                  onClick="addForm2()"
                >
                  <i class="bi bi-plus-lg text-primary fs-4"></i>
                </button>
              </div>
              <div class="col-1 mb-md-0 mb-3 mb-3">
                <i
                  class="delete-button2 text-danger btn bi bi-trash col-12 col-md-1 text-center"
                  data-form-id="form-1"
                  onClick="removeForm2(this)"
                ></i>
              </div>
            </div>
          </div>
        </div>

        <div dir="ltr" class="py-3 px-4">
          <button type="button" class="btn btn-outline-danger px-4">
            ألغاء
          </button>
          <button
            type="button"
            onClick="instructorAssignFormSubmit();"
            class="btn btn-primary px-4"
          >
            حفظ
          </button>
        </div>
      </form>
    </div>
  </div>
</section>

{% endblock %}
