<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>صفحة المحاضرين</title>
<!-- bootstrap css file -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
            <!-- fontAwesome css file -->
    <link rel="stylesheet" href="css/all.min.css">
    <!-- link fontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- main css file -->
        <link rel="stylesheet" href="css/doctor.css">

</head>
<body>

<!-- start coding here -->
<!-- 3 links top -->
<ul class="nav nav-tabs doctor-nav-menu ">
  <li class="active first "><a data-toggle="tab" href="#">جميع المحاضرين</a></li>
  <li class="second" ><a data-toggle="tab" href="#">الدكاترة</a></li>
  <li class="third"><a data-toggle="tab" href="#">المعيدين</a></li>
</ul>
<!--end 3 links-->
<!-- search and 2 button -->
<nav class="navbar navbar-doctor-search " >
  <form class="d-flex doctor-form-search" role="search">
    <div class="form-group doctor-formgroup">
      <input type="text" class="cd-search  table-filter doctor-text-search "  data-table="order-table" placeholder="البحث"  ar>
    </div>
    <ul class="nav nav-pills list-links-filter-doctor">
      <li class="nav-item add-doctor">
        <a class="nav-link add-doctor " aria-current="page" href="#"><i class="fa-solid fa-plus"></i>اضافة محاضرين</a>
      </li>
      <li class="nav-item add-subjects">
        <a class="nav-link add-subjects" href="#"><i class="fa-solid fa-plus"></i>  اضافة المواد للمحاضرين</a>
      </li>
      <li>
        <div class="searchSVG">
        <svg width="35" height="40" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M8.93708 1.47229L4.03994 9.07522M3.44394 1.47229H16.5559C17.6486 1.47229 18.5426 2.33845 18.5426 3.39708V5.51435C18.5426 6.28427 18.0459 7.24667 17.5493 7.72786L13.2779 11.385C12.6819 11.8662 12.2846 12.8286 12.2846 13.5985V17.7368C12.2846 18.3142 11.8873 19.0841 11.3906 19.3729L9.99994 20.239C8.70861 21.0089 6.92061 20.1428 6.92061 18.6029V13.5022C6.92061 12.8286 6.52328 11.9624 6.12594 11.4812L2.35128 7.63162C1.85461 7.15043 1.45728 6.28427 1.45728 5.70683V3.49332C1.45728 2.33845 2.35128 1.47229 3.44394 1.47229Z" 
          stroke="#313135" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
      </li>
    </ul>
  </form>
    </nav>

<!--table-->
<table class="table doctor-table cd-table order-table">
  <thead>
    <tr>
      <th>
        <input type="text" class="search-input" placeholder="الأسم">
      </th>
      <th>
        <input type="text" class="search-input" placeholder="الرتبة">
      </th>
      <th>
        <input type="text" class="search-input" placeholder="القسم">
      </th>
      <th>
        <input type="text" class="search-input" placeholder="الحالة الوظيفية">
      </th>
      <th>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <p class=" h-auto">محمد ابراهيم</p>
        <p class="opacity-75 h-auto">سليم علي</p>
      </td>
      <td>دكتور</td>
      <td>نظم المعلومات</td>
      <td>مبعوث بالخارج</td>
      <td>
        <a class="delete"data-toggle="tooltip"><svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M17 4.64889C14.04 4.35556 11.0622 4.20445 8.09333 4.20445C6.33333 4.20445 4.57333 4.29334 2.81333 4.47111L1 4.64889M5.88889 3.75111L6.08444 2.58667C6.22667 1.74223 6.33333 1.11111 7.83556 1.11111H10.1644C11.6667 1.11111 11.7822 1.77778 11.9156 2.59556L12.1111 3.75111M15.0889 7.45778L14.5111 16.4089C14.4133 17.8044 14.3333 18.8889 11.8533 18.8889H6.14667C3.66667 18.8889 3.58667 17.8044 3.48889 16.4089L2.91111 7.45778M7.51556 14H10.4756M6.77778 10.4444H11.2222" stroke="#F23345" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg></a>
      </td>
    </tr>
    <tr>
      <td>
        <p class=" h-auto"> احمد عبدالعليم</p>
        <p class="opacity-75 h-auto">احمد حافظ</p>
      </td>
      <td>استاذ مساعد</td>
      <td>ادارة الاعمال</td>
      <td>مدرس بالخارج</td>
      <td>
        <a class="delete"data-toggle="tooltip"><svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M17 4.64889C14.04 4.35556 11.0622 4.20445 8.09333 4.20445C6.33333 4.20445 4.57333 4.29334 2.81333 4.47111L1 4.64889M5.88889 3.75111L6.08444 2.58667C6.22667 1.74223 6.33333 1.11111 7.83556 1.11111H10.1644C11.6667 1.11111 11.7822 1.77778 11.9156 2.59556L12.1111 3.75111M15.0889 7.45778L14.5111 16.4089C14.4133 17.8044 14.3333 18.8889 11.8533 18.8889H6.14667C3.66667 18.8889 3.58667 17.8044 3.48889 16.4089L2.91111 7.45778M7.51556 14H10.4756M6.77778 10.4444H11.2222" stroke="#F23345" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg></a>
      </td>

    </tr>
    <tr>
      <td>
        <p class=" h-auto">يوسف احمد خميس</p>
        <p class="opacity-75 h-auto">يوسف سليم</p>
      </td>
      <td>استاذ متفرغ</td>
      <td>نظم المعلومات</td>
      <td>رئيس قسم</td>
      <td>
        <a class="delete"data-toggle="tooltip"><svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M17 4.64889C14.04 4.35556 11.0622 4.20445 8.09333 4.20445C6.33333 4.20445 4.57333 4.29334 2.81333 4.47111L1 4.64889M5.88889 3.75111L6.08444 2.58667C6.22667 1.74223 6.33333 1.11111 7.83556 1.11111H10.1644C11.6667 1.11111 11.7822 1.77778 11.9156 2.59556L12.1111 3.75111M15.0889 7.45778L14.5111 16.4089C14.4133 17.8044 14.3333 18.8889 11.8533 18.8889H6.14667C3.66667 18.8889 3.58667 17.8044 3.48889 16.4089L2.91111 7.45778M7.51556 14H10.4756M6.77778 10.4444H11.2222" stroke="#F23345" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg></a>
      </td>

    </tr>
    <tr>
      <td>
        <p class=" h-auto">ضياء محمد قاسم</p>
        <p class="opacity-75 h-auto">ضياء قاسم</p>
      </td>
      <td> دكتور</td>
      <td>ادارةالاعمال</td>
      <td> مبعوث بالخارج </td>
      <td>
        <a class="delete"data-toggle="tooltip"><svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M17 4.64889C14.04 4.35556 11.0622 4.20445 8.09333 4.20445C6.33333 4.20445 4.57333 4.29334 2.81333 4.47111L1 4.64889M5.88889 3.75111L6.08444 2.58667C6.22667 1.74223 6.33333 1.11111 7.83556 1.11111H10.1644C11.6667 1.11111 11.7822 1.77778 11.9156 2.59556L12.1111 3.75111M15.0889 7.45778L14.5111 16.4089C14.4133 17.8044 14.3333 18.8889 11.8533 18.8889H6.14667C3.66667 18.8889 3.58667 17.8044 3.48889 16.4089L2.91111 7.45778M7.51556 14H10.4756M6.77778 10.4444H11.2222" stroke="#F23345" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg></a>
      </td>
    </tr>
  </tbody>
</table>





















<!-- js -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- bootstrap javascript file -->
<script src="js/bootstrap.bundle.min.js"></script>
<!-- main javascript file -->
<script src="js/script.js"></script>
<!-- fontAwesome JS file -->
<script src="js/all.min.js"></script>

</body>
</html>
