{% extends "layout/base.html" %} {% block title_block %}المحاضرين{% endblock %}
{% block content %}

<section class="container-fluid g-0">
  <div class="p-5 classRooms-bg">
    <div class="mb-5 py-3">
      <!-- 3 links top -->
      <nav id="instructorsTaps">
        <div class="nav nav-tabs border-0" id="nav-tab" role="tablist">
          <button id="allInstractors" class="nav-link active" data-bs-toggle="tab" type="button" role="tab">جميع المحاضرين</button>
          <button id="doctors" class="nav-link" data-bs-toggle="tab" type="button" role="tab">الدكاترة</button>
          <button id="helpers" class="nav-link" data-bs-toggle="tab" type="button" role="tab">المعيدين</button>
        </div>
      </nav>
      <!--end 3 links-->
    </div>

    <!-- search and 2 button -->
    <nav class="navbar navbar-doctor-search">
      <form class="w-100 d-flex doctor-form-search" role="search">
        <div class="form-group d-flex justify-content-between w-100">
          <input
            type="text"
            class="cd-search table-filter doctor-text-search"
            data-table="order-table"
            placeholder="البحث"
            ar
          />
          <div class="justify-content-end">
            <a class="btn btn-primary px-4" href="/instructor/new">
              <i class="bi bi-plus" style="margin-left: 3px; left: 0;">
            </i> اضافة محاضرين</a>
            <a class="btn btn-primary me-2" href="/instructor/assign">
              <i class="bi bi-plus" style="margin-left: 3px;">
            </i> اضافة المواد للمحاضرين</a>
          </div>
        </div>
      </form>
    </nav>

    <!--table-->
    <table class="table doctor-table cd-table order-table">
      <thead>
        <tr>
          <th>
            <input type="text" class="search-input" placeholder="الأسم" />
          </th>
          <th>
            <input id="tabsFilter" type="text" class="search-input" placeholder="الرتبة" />
          </th>
          <th>
            <input type="text" class="search-input" placeholder="القسم" />
          </th>
          <th>
            <input
              type="text"
              class="search-input"
              placeholder="الحالة الوظيفية"
            />
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>

        {% for instructor in context.instructors %}
        <tr>
          <td>
            {{ instructor.name }}
          </td>
          <td>{{ instructor.role }}</td>
          <td>{{ instructor.department }}</td>
          <td>{{ instructor.status }}</td>
          <td>
            <i
              class="bi bi-trash text-danger me-2 cursor"
              style="font-size: 24px;"
              data-bs-toggle="modal"
              data-bs-target="#staticBackdrop"
              onClick="window.location.href='/instructor/delete/{{ instructor.id }}'"
            ></i>
          </td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>
</section>
{% endblock %}
