<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>تسجيل الدخول</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
  <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>
</head>

<body>


  <div class="container-fluid g-0 p-5">

    <div class="mb-5"><img src="{{ url_for('static', filename='img/logo.png') }}" class="img-fluid" alt="alex-logo"></div>

    <div class="container d-flex justify-content-center align-items-center">
      <div class=" bg-form col-lg-6 col-sm-11 col-12 shadow-lg p-xxl-5 shadow">
        <p class="style-logo fs-1 mb-5">
          <img src="{{ url_for('static', filename='img/Logo (1).png') }}" class="img-fluid mb-1" alt="logo">
          Month
        </p>

        <form class="row g-4 justify-content-center align-items-center" action="{{url_for('auth.login_page')}}" method="post" >
          {% with messages = get_flashed_messages() %}
          {% if messages %}
              <div class="col-10 alert alert-danger">
                  {{ messages[0] }}.
              </div>
          {% endif %}
          {% endwith %}
          <div class="col-10 position-relative">
            <input type="text" class="form-control form-control-login" id="username"  name="username" required placeholder="&#xFF20; اسم المستخدم">
          </div>
          <div class="col-10 position-relative">
            <input type="password" class="form-control form-control-login" id="password" name="password" required placeholder="&#x1F512; الرقم السري">
          </div>
          <small class="col-10 text-start text-decoration-none" data-bs-toggle="modal" data-bs-target="#editClassRoome">هل نسيت
            الرقم السري؟</small>
          <div class="col-12 d-flex align-items-center justify-content-center">
            <button class="btn btn-primary col-6 submitBtn" type="submit">تسجيل الدخول</button>
          </div>
        </form>

      </div>
    </div>

  </div>


  <!-- Modal --->
  <div class="modal fade " id="editClassRoome" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog ">
      <div class="modal-content classRooms-bg p-3">

        <div class="modal-header border-0 d-flex justify-content-end align-items-center m-0 p-0">

          <div class="bg-icone col-1 py-2 px-1 rounded-circle d-flex justify-content-center align-items-center">

            <svg data-bs-dismiss="modal" aria-label="Close" width="10" height="10" viewBox="0 0 10 10" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M5 3.88906L8.88906 0L10 1.11094L6.11094 5L10 8.88906L8.88906 10L5 6.11094L1.11094 10L0 8.88906L3.88906 5L0 1.11094L1.11094 0L5 3.88906Z"
                fill="#313135" />
            </svg>

          </div>
        </div>
        <div class="modal-body ">
          <div class="modal-header border-0 d-flex col-12">
            <div class="bg-icone col-2 py-3 d-sm-flex d-none justify-content-center align-items-center">
              <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M14 6.5C14 5.94771 13.5523 5.5 13 5.5C12.4477 5.5 12 5.94771 12 6.5V13.4643C12 14.0166 12.4477 14.4643 13 14.4643C13.5523 14.4643 14 14.0166 14 13.4643V6.5ZM13 17.2C12.4477 17.2 12 17.6477 12 18.2C12 18.7523 12.4477 19.2 13 19.2H13.013C13.5653 19.2 14.013 18.7523 14.013 18.2C14.013 17.6477 13.5653 17.2 13.013 17.2H13ZM25 13C25 19.6274 19.6274 25 13 25C6.37258 25 1 19.6274 1 13C1 6.37258 6.37258 1 13 1C19.6274 1 25 6.37258 25 13Z"
                  stroke="#4372EA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </div>
            <p class="col fw-normal fs-5  mt-3 pe-3">نسيت الرقم السري؟ </p>
          </div>

          <form action="{{url_for('auth.verification')}}" method="post">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="col-12  alert alert-danger">
                    {{ messages[0] }}.
                </div>
            {% endif %}
            {% endwith %}
            <div class="col-12   mb-4">
              <input type="text" class="form-control form-control-lg col-12 form-control-remmberpass "
                ame="pid" placeholder="  اكتب الرقم القومي ....">
            </div>
            <div class="col-12    mb-4">
              <input type="text" class="form-control form-control-lg col-12 form-control-remmberpass"
                name="username" placeholder="اكتب اسم المستحدم الخاص بك">
            </div>

            <div class="modal-footer border-0 col-12  d-flex justify-content-between align-items-center">
              <button type="button" class="btn btn-outline-danger   btn-lg col-5-classRooms" data-bs-dismiss="modal">الغاء</button>
              <button type="submit" class="btn btn-primary btn-lg col-5-classRooms">التحقق</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>

</body>

</html>